li div{
    display: inline-block;
}
li{
    border: 1px solid #ccc;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    font-size: 42px;
    line-height: 60px;
}